body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f5f7fa;
}

/* NAVBAR */
nav {
    background: #1f2937;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 25px;
}

nav a {
    color: #d1e7ff;
    margin-right: 18px;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

nav .right {
    float: right;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* BUTTON LIST */
.button-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.button-list li {
    margin-bottom: 15px;
}

/* BUTTONS */
.btn {
    background: #2563eb;
    color: white !important;
    padding: 6px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    display: inline-block;
    margin-bottom: 5px;
}

.btn:hover {
    background: #1d4ed8;
}

/* LOGIN CARD */
.form-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bigspace {
    margin-top: 40px;   /* more space between sections */
}

.smallspace {
    margin-bottom: 20px; /* more space between buttons */
}