<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SportsApp</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>
<body>
<nav>
    <a th:href="@{/}">Home</a> |
    <a th:href="@{/teams}">Teams</a> |
    <a th:href="@{/players}">Players</a> |
    <a th:href="@{/boxscores}">BoxScores</a> |
    <span th:if="${#request.remoteUser == null}"><a th:href="@{/login}">Login</a></span>
    <span th:if="${#request.remoteUser != null}">Logged as <b th:text="${#request.remoteUser}"></b> - <a th:href="@{/logout}">Logout</a></span>
</nav>
<hr/>
<div th:replace="~{::content}"></div>
</body>
</html>